.gallery{
    display: flex;
    justify-content: space-between;
}

.gallery{

    width: 10%;
    height: 10%;    
}

.i1 .i2 .i3 .i4{
    float: left;
    justify-content: space-between;
}

.gallery{
    display: flex;
}


.header, .hero{
    background-color: #1F2937;    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
        
}

.logo{
    color: #E5E7EB;
    font-size: 24px;
    font-weight: bold;
}

.nav{
    display: flex;
    justify-content: center;
}

ul{   
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 16px;
    
    
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}


.logo, .nav{
    gap: 16px
}
   
.hero{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    align-items: center;
}

.secondhero{
    font: 18px;
    color: #E5E7EB;
}

h1{
    font-size: 48px;
    font-weight: 600;
    color: #F9FAF8;
    margin: 0;
}

.madhero{
    height: 25em;
    width: 35em;
}

.button1{
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
}