.Webpage{
    margin: auto;
}


.footer{
    display: inline-block;
    background-color: #1F2937;    
    text-align: center;
    height: 5em;
    color: white;
    width: 100%;
    margin-bottom: 0px;
    padding: 0px;
    line-height: .45em;
    
}


/* Below is Call to Action styling */

.action{
    display: flex;
    justify-content: center;
    margin: 5em;
    

}

.calltoaction{
    display: flex;    
    background-color: #3882F6;
    align-items: center;
    justify-content: center;
    gap: 6em;
    color: white;
    padding: 0px;     
    width: 50em;   
    height: 6em;
    border-radius: 10px;    
}

.SignUpButton{
    background-color: #3882F6;    
    border-radius: 4px;
    color: white;    
    border-color: white;
    border-style: solid;
    border-width: thin;
    
    
}

/* Below is Quote styling */


.quotation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    margin: 3em 0;
    
}

.quotediv{
    background-color: #E5E7EB;         
    width: 80%;
    height: 80%;    
    padding: 50px 0;
    
         
}

.quote{    
    font-style: italic;    
    font-size: 36px;   
    
    
    
}


/* Below is Gallery styling */

.galleryholder{
    display: flex;
    justify-content: center;
}

.gimage{
    height: auto;
    width: 100%;
}

h2{
    text-align: center;
}

.gallery{
    display: flex;    
    justify-content: center;
    text-align: center;                
    margin: 0;
    padding: 0;   
    gap: 8px;
    width: 80%;    
       
}

/* Below is Hero Styling */

.header, .hero{
    display: flex;
    justify-content: center;
    background-color: #1F2937;    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
        
}

.logo{
    color: #E5E7EB;
    font-size: 24px;
    font-weight: bold;
}

.nav{
    display: flex;
    justify-content: center;
}

ul{   
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 16px;
    
    
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}


.logo, .nav{
    gap: 16px
}
   
.hero{
    display: flex;
    justify-content: center;
    padding: 0 25px;
    margin: 0;
    align-items: center;
}

.secondhero{
    font: 18px;
    color: #E5E7EB;
}

h1{
    font-size: 48px;
    font-weight: 600;
    color: #F9FAF8;
    margin: 0;
}

.righthero{
    height: 25em;
    width: 35em;
    margin-bottom: 16px;
}

.button1{
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    padding: 7px;
    width: 8em;
}
.hero-left{
    width: 40%;
    

}
